.generate-wrap {
	.footer {
		display: none;
	}
}
.generate-root {
    margin: 1rem;
}

.generate-divider{
    margin-top: 1rem;
}

.upload-root{
    margin-top: 2rem;
}

.core-lib-list{
    margin-top: 2rem;
}

.cl-btn{
    width: auto;
    margin: 0.5rem;
    border: none;
    font-weight: bold;    
    cursor: pointer;
    font-size: 1.25rem;
    color: rgb(96, 96, 96);

    &:hover{
        color: black;
    }
}

.custom-file-upload {
    border: 2px solid #0ca3f7;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


