.collapse-expand {
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    &.collapsed {
        max-height: 0 !important;
        overflow: hidden;
    }
    &.expand {
        max-height: 100% !important;
    }
}