# IDEA
.idea/
**/.DS_Store
**/*.db
**/*.db-journal

# PYTHON
/venv
**/*.pyc
**/*.pyo
**/__pycache__/*
__pycache__/


# TESTS
/examples/**/outputs/
/tests/data_output
/tests/test_data/

# BUILD
core_lib.egg-info/
build/
dist/
.eggs
