# IDEA
.idea/
**/.DS_Store
**/*.db
**/*.db-journal

# PYTHON
/venv
**/*.pyc
**/*.pyo
**/__pycache__/*
__pycache__/


# TESTS
/examples/**/outputs/
/tests/data_output

# BUILD
*.egg-info
*.eggs
build/
dist/

# WEBSIRE
/website/yarn.lock
