include requirements.txt
include LICENSE
include README.md


global-exclude *.pyc
global-exclude __pycache__
recursive-include hydra_plugins/* *.yaml
recursive-include core_lib/* *.yaml
recursive-include core_lib_template *.yaml *.md .gitignore
