#Core lib
hydra-core>=1.3
python-dateutil
PyJWT
argh
pytimeparse
parsedatetime
omegaconf
neo4j
redis
click

# Connectors
sqlalchemy>=2.0,<2.1
alembic
pymysql
psycopg2-binary
pysolr
pymongo
python-memcached
cryptography
boto3
geoalchemy2
shapely
setuptools


# web
django
flask
flask_cors
requests


# Test
python-dotenv
moto>=5
freezegun
mongomock
flask_wtf