.collapse-expand {
    transition: max-height 0.5s ease;
    
    &.collapsed {
        max-height: 0;
        overflow: hidden;
    }
    &.expand {
        max-height: 100%;
        overflow: auto;
    }
}