@import './../../index.scss';

.collapse-expand {
    transition: max-height 0.5s ease-out;
    &.collapsed {
        max-height: 0px;
        overflow: hidden;
    }
    &.expand {
        max-height: 100%;
    }
}