# IDEA
.idea/
**/.DS_Store
**/*.db
**/*.db-journal

# PYTHON
/venv
**/*.pyc
**/*.pyo
**/__pycache__/*
__pycache__/


# TESTS
/examples/**/outputs/

# BUILD
*.egg-info
*.eggs
build/
dist/

# APP
.hydra/
.env
*.log

