.tree-root {
	padding: 1rem;
	background-color: #f5f9fc;
	align-items: flex-end;
}

.tree {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

.node-title{
	font-size: 1rem;
	font-weight: bold;
	margin: 0.1rem;
}

.node-child{
	font-size: 1rem;
	padding-left: 1rem;
	margin: 0.1rem;
	font-weight: normal;
	border-radius: 5px;
	
}

.node-child .delete-img{
	height: auto;
	width: 1rem;
}

.node-title .add-img{
	height: auto;
	width: 1rem;
}

.tree-button{
	width: 100%;
	border: 0px;
	background-color: #878787;
	color: #f5f9fc;
	padding: 0.5rem;
	border-radius: 3px;
	cursor: pointer;
    margin-top: 0.5rem;
}