.tree-root {
	width: 25%;
	margin: 1rem;
	padding: 1rem;
	background-color: bisque;
	border: 2px black solid;
	border-radius: 5px;
	position: static;
	align-items: flex-end;
}

.tree {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.node-title{
	font-size: 1.25rem;
	font-weight: bold;
	padding-left: 1rem;
}

.node-child{
	font-size: 1rem;
	padding-left: 2rem;
	margin: 0.5rem;
	font-weight: normal;
	border-radius: 5px;
	padding: 0.1rem;
}

.tree .node-title:hover {
	cursor: pointer;
    
}

.tree .node-child:hover {
	cursor: pointer;
    box-shadow: 0px 0px 4px 0px;
    
}